/* Add here all your CSS customizations */
.lowercase {
    text-transform: lowercase;
}

.bc-header {
    margin-top: 0.5em;
}

.specials-header {
    margin-top: 1em;
}

.white {
    color: white;
}
