/* Add here all your CSS customizations */
.lowercase {
    text-transform: lowercase;
}

.bc-header {
    margin-top: 0.5em;
}

.specials-header {
    margin-top: 1em;
}

.white {
    color: white;
}

.payment {
    text-transform: none;
}

.services-header {
    margin-top: 32px
}

.list {
    color: rgb(142, 6, 10)
}

